<div class="animated fadeInUp">
	<div class="row">
		<div class="col-xs-12">
			<h2>About</h2>
		</div>
		<div class="col-sm-6 col-md-4">
			<h3>Purpose</h3>
			<p>
				This is an example applicacion that demonstrates how to create a full-stack JavaScript application with the LoopBack framework (Node.js) on the back-end, AngularJS + Bootstrap on the front-end and support for third-party authentication (social login).
			</p>
		</div>
		<div class="col-sm-6 col-md-4">
			<h3>Are users test data persisted somewhere?</h3>
			<p>
				The test data is not persisted on a database of any kind. It uses in-memory storage. And as this application is rebooted daily by the Heroku application container, the in-memory storage gets cleared.
			</p>
		</div>
		</div>
	</div>
</div>